name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }}" > .env
          echo "TELEGRAM_CHAT=${{ vars.TELEGRAM_CHAT }}" >> .env

      - name: Initialize empty database file
        run: touch movies.db

      - name: Build and Run Docker
        run: |
          docker compose up -d --build
