name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy .env file
        run: cp /home/deployer/config/.env ./.env

      - name: Build and Run Docker
        run: |
          docker compose up -d --build